<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Insta</title>
</head>
<body>
    <h4>RADOARIVELO RojoTina IMTICIA5</h4>
    <div id="container">
        <h3>INSTA</h3>
        <img src="img/image.jpg" alt="Tomb raider">
        <input type="text" v-model='temp'>
        <button v-on:click="comme(temp)">commenter</button>
        <div class="coms" v-for="commentaire in commentaires">
            {{commentaire}}
        </div>
    </div>
    <script>
        var app =new Vue({
            el:"#container",
            data:{
                temp:"",
                commentaires:[],
            },
            methods:{
                comme: function(temp){
                    this.commentaires.push(temp) ;
                    this.temp="" ;
                }
            }
        })
    </script>
</body>
</html>